* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(34, 29, 37);
    height: 100vh;    
}

body::-webkit-scrollbar {
    display: none;
}

.container {
	width: 550px;
	height: 400px;
  top: 23rem;
  position: absolute;
}
.header h2 {
    font-weight: 400;
    color: #fff;
}
.main-content {
	width: 100%;
	height: 300px;
	padding: 50px 40px;
	background-color: rgba(255, 255, 255, 0);
	border-radius: 15px;
}

.Generator::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
  }
  
  .Generator:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  .Generator::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: rgba(255, 255, 255, 0.17);
    z-index: -1;
    transition: transform .3s ease;
  }

.Home::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
  }
  
  .Home:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  .Home::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: rgba(255, 255, 255, 0.17);
    z-index: -1;
    transition: transform .3s ease;
  }

h1::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
  }
  
  h1:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  h1::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: rgba(255, 255, 255, 0.17);
    z-index: -1;
    transition: transform .3s ease;
  }


.text-area {
	text-align: center;
	font-size: 25px;
	color: #d3d3d3;
	line-height: 1.5;
}
.text-area .icon {
    margin-right: 5px;
}
.main-content .writer {
    text-transform: uppercase;
	letter-spacing: 5px;
	color: red;
	text-align: center;
	margin-top: 20px;
	font-size: 25px;
	
}
.main-content .button-area {
	display: grid;
	place-items: center;
	margin-top: 20px;
	padding: 10px 0;
}
.button-area .btn button {
    background-color: #262626;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 10px 15px;
    
}
.button-area button:active {
    background-color: deepskyblue;
}


.Generator {
  z-index: 1;
  color: rgb(255, 255, 255);
  background-color: transparent;
  outline: solid white;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.536));
  padding: 1%;
  right: 10%;
  top: 12%;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  position:absolute;
  transition: transform .3s ease;
}

.Home {
  z-index: 1;
  color: rgb(255, 255, 255);
  background-color: transparent;
  outline: solid white;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.536));
  padding: 1%;
  left: 15%;
  top: 12%;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  position:absolute;
  transition: transform .3s ease;
}

.Procession {
  top: 0%;
  position:absolute;
  width: 100%;
  height: auto;
  max-height: 45%;
  z-index: 0;
}

h1 {
  top: 10%;
  font-size: 480%;
  color: white;
  position:absolute;
  z-index: 1;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.536));
}


@media only screen and (max-height: 750px){

  body{
    height: 250%;
  }
  
  .Procession{
    top: 0%;
    width: 100%;
  }

  h1{
    font-size: 120%;
    top: 10%;
    left: 23%;
  }
  .Generator{
    font-size: 80%;
    right: 6%;
    top: 10.5%;
  }
  .Home{
    font-size: 70%;
    top: 10.5%;
    left: 10%;
  }
  .container{
    top: 30%;
    width: auto;
    height: auto;
  }
}

@media only screen and (max-width: 420px){

  body{
    height: 250%;
  }
  
  .Procession{
    top: 0%;
    width: 100%;
  }

  h1{
    font-size: 120%;
    top: 10%;
    left: 23%;
  }
  .Generator{
    font-size: 80%;
    right: 6%;
    top: 10.5%;
  }
  .Home{
    font-size: 70%;
    top: 10.5%;
    left: 10%;
  }
}
