* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat;
}
body {
    display: flex;
    justify-content: center;
    background-color: rgb(34, 29, 37);
    height: 100vh;    
}

body::-webkit-scrollbar {
    display: none;
}

h1 {
  top: 10%;
  font-size: 5rem;
  color: white;
  position:absolute;
  z-index: 1;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.536));
  transform: translate(-50%),(-50%);
}

h1::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
  }
  
  h1:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  h1::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: rgba(255, 255, 255, 0.17);
    z-index: -1;
    transition: transform .3s ease;
  }

  .Generator {
    z-index: 1;
    color: rgb(255, 255, 255);
    background-color: transparent;
    outline: solid white;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.536));
    padding: 1%;
    right: 10%;
    top: 12%;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    position:absolute;
    transition: transform .3s ease;
}

.Generator::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
  }
  
  .Generator:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  .Generator::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: rgba(255, 255, 255, 0.17);
    z-index: -1;
    transition: transform .3s ease;
  }

  .Home {
    z-index: 1;
    color: rgb(255, 255, 255);
    background-color: transparent;
    outline: solid white;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.536));
    padding: 1%;
    left: 15%;
    top: 12%;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    position:absolute;
    transition: transform .3s ease;
}

.Home::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
  }
  
  .Home:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  .Home::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: rgba(255, 255, 255, 0.17);
    z-index: -1;
    transition: transform .3s ease;
  }

  .Procession {
    top: 0%;
    position:absolute;
    width: 100%;
    height: auto;
    max-height: 45%;
    z-index: 0;
  }


.Benedict {
    top: 57%;
    left: 20rem;
    width: 8rem;
    height: 8rem;
    position: absolute;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.536));
}

.Therese {
    top: 27.2rem;
    left: 30rem;
    width: 8rem;
    height: 8rem;
    position: absolute;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.536));
}

.Teresa {
    top: 27.2rem;
    left: 40rem;
    width: 8rem;
    height: 8rem;
    position: absolute;
	filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.536));
    
}

.Barbara {
    top: 27.2rem;
    left: 50rem;
    width: 8rem;
    height: 8rem;
    position: absolute;
	filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.536));
    
}

.Maria {
    top: 27.2rem;
    left: 60rem;
    width: 8rem;
    height: 8rem;
    position: absolute;
	filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.536));
    
}

.Rita {
    top: 27.3rem;
    left: 70rem;
    width: 8rem;
    height: 8rem;
    position: absolute;
	filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.536));
    
}

.Augustine {
    top: 38rem;
    left: 20rem;
    width: 8rem;
    height: 8rem;
    position: absolute;
	filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.536));
}

.Faustina {
    top: 38rem;
    left: 30rem;
    width: 8rem;
    height: 8rem;
    position: absolute;
	filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.536));
}

@media only screen and (max-width: 420px){
  .Procession{
    top: 0%;
    width: 100%;
  }

  .Header{
    font-size: 150%;
    top: 10%;
    left: 32%;
  }
  .Generator{
    font-size: 80%;
    right: 10%;
    top: 10.5%;
  }
  .Home{
    font-size: 90%;
    top: 10.5%;
    left: 10%;
  }
  h1{
    font-size: 150%;
    top: 10%;
    left: 34%;
  }
  .Benedict{
    top: 30%;
    left: 7%;
    width: 23%;
    height: 13%;
  }
  .Therese{
    top: 30%;
    left: 35%;
    width: 23%;
    height: 13%;
  }
  .Teresa{
    top: 30%;
    left: 62%;
    width: 23%;
    height: 13%;
  }
  .Barbara{
    top: 47%;
    left: 7%;
    width: 23%;
    height: 13%;
  }
  .Maria{
    top: 47%;
    left: 35%;
    width: 23%;
    height: 13%;
  }
  .Rita{
    top: 47%;
    left: 62%;
    width: 23%;
    height: 13%;
  }
  .Augustine{
    top: 64%;
    left: 7%;
    width: 23%;
    height: 13%;
  }
  .Faustina{
    top: 64%;
    left: 35%;
    width: 23%;
    height: 13%;
  }
}

@media only screen and (max-height: 750px){
  .Procession{
    top: 0%;
    width: 100%;
  }

  .Header{
    font-size: 150%;
    top: 10%;
    left: 28%;
  }
  .Generator{
    font-size: 80%;
    right: 15%;
    top: 10.5%;
  }
  .Home{
    font-size: 90%;
    top: 10.5%;
    left: 10%;
  }
  h1{
    font-size: 150%;
    top: 10%;
    left: 34%;
  }

  .Benedict{
    top: 30%;
    left: 7%;
    width: 23%;
    height: 13%;
  }
  .Therese{
    top: 30%;
    left: 35%;
    width: 23%;
    height: 13%;
  }
  .Teresa{
    top: 30%;
    left: 62%;
    width: 23%;
    height: 13%;
  }
  .Barbara{
    top: 47%;
    left: 7%;
    width: 23%;
    height: 13%;
  }
  .Maria{
    top: 47%;
    left: 35%;
    width: 23%;
    height: 13%;
  }
  .Rita{
    top: 47%;
    left: 62%;
    width: 23%;
    height: 13%;
  }
  .Augustine{
    top: 64%;
    left: 7%;
    width: 23%;
    height: 13%;
  }
  .Faustina{
    top: 64%;
    left: 35%;
    width: 23%;
    height: 13%;
  }
}
