* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(34, 29, 37);
    height: 150rem;
}

body::-webkit-scrollbar {
    display: none;
}


.Generator {
    z-index: 1;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.274);
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.536));
    padding: 1rem;
    right: 10rem;
    top: 6.2rem;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    position:absolute;
    animation: 2s anim-lineUp ease-out;
}


  .Generator::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
  }
  
  .Generator:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  .Generator::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: rgba(255, 255, 255, 0.17);
    z-index: -1;
    transition: transform .3s ease;
  }

.Home {
    z-index: 1;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.274);
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.536));
    padding: 1rem;
    left: 15rem;
    top: 6.2rem;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    position:absolute;
    animation: 2s anim-lineUp ease-out;
}


  .Home::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
  }
  
  .Home:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  .Home::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: rgba(255, 255, 255, 0.17);
    z-index: -1;
    transition: transform .3s ease;
  }

.Procession {
    top: 0rem;
    position:absolute;
    width: 96rem;
    height: 20rem;
    z-index: 0;
}

h1 {
    top: 5rem;
    font-size: 5rem;
    color: white;
    position:absolute;
    z-index: 1;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.536));
    animation: 2s anim-lineUp ease-out;
}


  .h1::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
  }
  
  .h1:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  .h1::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: rgba(255, 255, 255, 0.17);
    z-index: -1;
    transition: transform .3s ease;
  }

.Tpic1{
    top: 25rem;
    left: 5rem;
    position: absolute;
    height: 20rem;
    width: 30rem;
    border-radius: 2rem;
    z-index: 1;
}

.Therese{
    top: 55rem;
    left: 60rem;
    position: absolute;
    height: 30rem;
    width: 20rem;
    z-index: 1;
}

.q1 {
    top: 30rem;
    left: 50rem;
    width: 35rem;
    text-align: center;
    font-size: 2rem;
    color: white;
    position:absolute;
    z-index: 1;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.536));
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.11);
    animation: 2s anim-lineUp ease-out;
}

  @keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }

  .q1::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
  }
  
  .q1:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  .q1::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: rgba(255, 255, 255, 0.17);
    z-index: -1;
    transition: transform .3s ease;
  }

  .Rose{
    top: 30rem;
    left: 50rem;
    width: 5rem;
    color: white;
    position:absolute;
    z-index: 1;
    padding: 1rem;
    filter: invert(100%);
    top: -40px;
    animation: roll 20s ease-in-out 2s infinite;
    opacity: 0;
    transition: ease-in-out 0s;
    transform: rotate(240deg);
  }

  .Rose2{
    top: 30rem;
    left: 80rem;
    width: 5rem;
    color: white;
    position:absolute;
    z-index: 1;
    padding: 1rem;
    filter: invert(100%);
    top: -40px;
    animation: roll 27s ease-in-out 0.5s infinite;
    opacity: 0;
    transition: ease-in-out 0s;
    transform: rotate(300deg);
  }

  .Rose3{
    top: 30rem;
    left: 10rem;
    width: 5rem;
    color: white;
    position:absolute;
    z-index: 1;
    padding: 1rem;
    filter: invert(100%);
    top: -40px;
    animation: roll 30s ease-in-out 1s infinite;
    opacity: 0;
    transition: ease-in-out 0s;
    transform: rotate(120deg);
  }

  .Rose4{
    top: 30rem;
    left: 20rem;
    width: 5rem;
    color: white;
    position:absolute;
    z-index: 1;
    padding: 1rem;
    filter: invert(100%);
    top: -40px;
    animation: roll 15s ease-in-out 5s infinite;
    opacity: 0;
    transition: ease-in-out 0s;
    transform: rotate(20deg);
  }

  
  .Rose5{
    top: 30rem;
    left: 30rem;
    width: 5rem;
    color: white;
    position:absolute;
    z-index: 1;
    padding: 1rem;
    filter: invert(100%);
    top: -40px;
    animation: roll 20s ease-in-out 6s infinite;
    opacity: 0;
    transition: ease-in-out 0s;
    transform: rotate(90deg);
  }

  .Rose6{
    top: 30rem;
    left: 40rem;
    width: 5rem;
    color: white;
    position:absolute;
    z-index: 1;
    padding: 1rem;
    filter: invert(100%);
    top: -40px;
    animation: roll 40s ease-in-out 0.3s infinite;
    opacity: 0;
    transition: ease-in-out 0s;
    transform: rotate(60deg);
  }

  
  .Rose7{
    top: 30rem;
    left: 70rem;
    width: 5rem;
    color: white;
    position:absolute;
    z-index: 1;
    padding: 1rem;
    filter: invert(100%);
    top: -40px;
    animation: roll 10s ease-in-out 8s infinite;
    opacity: 0;
    transition: ease-in-out 0s;
    transform: rotate(200deg);
  }

  @keyframes roll{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: translateY(100rem);
        opacity: 0;
    }
}
